body{
    background-image: url("https://media.istockphoto.com/id/849783248/photo/background-of-gentle-white-flowers-roses-t.jpg?s=612x612&w=0&k=20&c=sIISDHN8mc4f3XVaP7VoQFo_jjTur2PrS1xcJO8-B44=");
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
    margin: 10px;
    background-color: rgb(163, 166, 255);
}
#header{
    font-size: 80px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}